<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
    <title>Preadmin - Bootstrap Admin Template</title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <div class="header">
            <div class="header-left">
                <a href="index.html" class="logo">
                    <img src="assets/img/logo.png" width="40" height="40" alt="">
                </a>
            </div>
            <div class="page-title-box pull-left">
                <h3>Preadmin</h3>
            </div>
            <a id="mobile_btn" class="mobile_btn pull-left" href="#sidebar"><i class="fa fa-bars" aria-hidden="true"></i></a>
            <ul class="nav navbar-nav navbar-right user-menu pull-right">
                <li class="dropdown hidden-xs">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell-o"></i> <span class="badge bg-primary pull-right">3</span></a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span>اعلانات</span>
                        </div>
                        <div class="drop-scroll">
                            <ul class="media-list">
                                <li class="media notification-message">
                                    <a href="activities.html">
                                        <div class="media-left">
                                            <span class="avatar">
												<img alt="John Doe" src="assets/img/user.jpg" class="img-responsive img-circle">
											</span>
                                        </div>
                                        <div class="media-body">
                                            <p class="noti-details"><span class="noti-title">امین صفرپور</span> افزودن کار جدید <span class="noti-title">رزرو وقت بیمار</span></p>
                                            <p class="noti-time"><span class="notification-time">4 دقیقه قبل</span></p>
                                        </div>
                                    </a>
                                </li>
                                <li class="media notification-message">
                                    <a href="activities.html">
                                        <div class="media-left">
                                            <span class="avatar">V</span>
                                        </div>
                                        <div class="media-body">
                                            <p class="noti-details"><span class="noti-title">برناردو گالوویز</span> نام کار را تغییر داد <span class="noti-title">رزرو روزانه با دروازه پرداخت</span></p>
                                            <p class="noti-time"><span class="notification-time">6 دقیقه قبل</span></p>
                                        </div>
                                    </a>
                                </li>
                                <li class="media notification-message">
                                    <a href="activities.html">
                                        <div class="media-left">
                                            <span class="avatar">L</span>
                                        </div>
                                        <div class="media-body">
                                            <p class="noti-details"><span class="noti-title">برناردو گالوویز</span> افزود <span class="noti-title">امین صفرپور</span> و <span class="noti-title">کلر مپس</span>برای پروژه  <span class="noti-title">دکتر ماژول موجود</span></p>
                                            <p class="noti-time"><span class="notification-time">8 دقیقه قبل</span></p>
                                        </div>
                                    </a>
                                </li>
                                <li class="media notification-message">
                                    <a href="activities.html">
                                        <div class="media-left">
                                            <span class="avatar">G</span>
                                        </div>
                                        <div class="media-body">
                                            <p class="noti-details"><span class="noti-title">برناردو گالوویز</span> تکمیل کار <span class="noti-title">کنفرانس ویدیویی بیمار و دکتر</span></p>
                                            <p class="noti-time"><span class="notification-time">12 دقیقه قبل</span></p>
                                        </div>
                                    </a>
                                </li>
                                <li class="media notification-message">
                                    <a href="activities.html">
                                        <div class="media-left">
                                            <span class="avatar">V</span>
                                        </div>
                                        <div class="media-body">
                                            <p class="noti-details"><span class="noti-title">برناردو گالوویز</span> افزودن کار جدید <span class="noti-title">ماژول چت خصوصی</span></p>
                                            <p class="noti-time"><span class="notification-time">2 دقیقه قبل</span></p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="activities.html">مشاهده تمام اعلان ها</a>
                        </div>
                    </div>
                </li>
                <li class="dropdown hidden-xs">
                    <a href="javascript:;" id="open_msg_box" class="hasnotifications"><i class="fa fa-comment-o"></i> <span class="badge bg-primary pull-right">8</span></a>
                </li>
                <li class="dropdown">
                    <a href="profile.html" class="dropdown-toggle user-link" data-toggle="dropdown" title="Admin">
                        <span class="user-img"><img class="img-circle" src="assets/img/user.jpg" width="40" alt="Admin">
							<span class="status online"></span></span>
                        <span>مدیر</span>
                        <i class="caret"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="profile.html">پروفایل من</a></li>
                        <li><a href="edit-profile.html">ویرایش پروفایل</a></li>
                        <li><a href="settings.html">تنظیمات</a></li>
                        <li><a href="login.html">خروج</a></li>
                    </ul>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu pull-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <ul class="dropdown-menu pull-right">
                    <li><a href="profile.html">پروفایل من</a></li>
                    <li><a href="edit-profile.html">ویرایش پروفایل</a></li>
                    <li><a href="settings.html">تنظیمات</a></li>
                    <li><a href="login.html">خروج</a></li>
                </ul>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">ملت وب</li>
                        <li>
                            <a href="index.html"><i class="fa fa-dashboard"></i> داشبورد</a>
                        </li>
                        <li>
                            <a href="chat.html"><i class="fa fa-comments" aria-hidden="true"></i> چت <span class="badge bg-primary pull-right">5</span></a>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-video-camera camera" aria-hidden="true"></i> <span> تماس ها</span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled" style="display: none;">
                                <li><a href="voice-call.html">تماس صوتی</a></li>
                                <li><a href="video-call.html">تماس تصویری</a></li>
                                <li><a href="incoming-call.html">تماس ورودی</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> <span> پست الکترونیک</span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled" style="display: none;">
                                <li><a href="compose.html">نوشتن نامه</a></li>
                                <li><a href="inbox.html">صندوق ورودی</a></li>
                                <li><a href="mail-view.html">نمایش ایمیل</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="contacts.html"><i class="fa fa-address-card" aria-hidden="true"></i> تماس</a>
                        </li>
                        <li>
                            <a href="tasks.html"><i class="fa fa-tasks" aria-hidden="true"></i> کارها</a>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i> <span> وبلاگ</span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled" style="display: none;">
                                <li><a href="blog.html">وبلاگ</a></li>
                                <li><a href="blog-details.html">نمایش وبلاگ</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="tickets.html"><i class="fa fa-ticket" aria-hidden="true"></i> تیکت ها</a>
                        </li>
                        <li>
                            <a href="settings.html"><i class="fa fa-cog" aria-hidden="true"></i> تنظیمات</a>
                        </li>
                        <li class="menu-title">المنت ها</li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-laptop" aria-hidden="true"></i> <span> اجزاء</span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled" style="display: none;">
                                <li><a href="uikit.html">UI Kit</a></li>
                                <li><a href="typography.html">تایپوگرافی</a></li>
                                <li><a href="tabs.html">زبانه ها</a></li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="widgets.html"><i class="fa fa-th" aria-hidden="true"></i> ابزارک</a>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-edit" aria-hidden="true"></i> <span> فرم ها</span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled" style="display: none;">
                                <li><a href="form-basic-inputs.html">ورودی های پایه</a></li>
                                <li><a href="form-input-groups.html">گروه های ورودی</a></li>
                                <li><a href="form-horizontal.html">فرم افقی</a></li>
                                <li><a href="form-vertical.html">فرم عمودی</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-table" aria-hidden="true"></i> <span> زبانه ها</span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled" style="display: none;">
                                <li><a href="tables-basic.html">جداول پایه</a></li>
                                <li><a href="tables-datatables.html">جدول داده</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="calendar.html"><i class="fa fa-calendar" aria-hidden="true"></i> تقویم</a>
                        </li>
                        <li class="menu-title">اضافی</li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-columns" aria-hidden="true"></i> <span>صفحات</span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled" style="display: none;">
                                <li><a href="login.html">ورود </a></li>
                                <li><a href="register.html"> ثبت نام </a></li>
                                <li><a href="forgot-password.html"> فراموشی رمز عبور </a></li>
                                <li><a href="change-password2.html"> تغییر رمز </a></li>
                                <li><a href="lock-screen.html"> قفل اسکرین </a></li>
                                <li><a href="profile.html"> پروفایل </a></li>
                                <li><a href="gallery.html"> گالری </a></li>
                                <li><a href="pricing.html">Pricing</a></li>
                                <li><a href="error-404.html">404 خطای </a></li>
                                <li><a href="error-500.html">500 خطای </a></li>
                                <li><a href="coming-soon.html">بزودی </a></li>
                                <li><a href="blank-page.html"> صفحه خالی </a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="noti-dot"><i class="fa fa-rocket" aria-hidden="true"></i> <span> ارتباط با مشتری </span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li class="submenu">
                                    <a href="#" class="noti-dot"><span> کارکنان</span> <span class="menu-arrow"></span></a>
                                    <ul class="list-unstyled" style="display: none;">
                                        <li><a href="employees.html">تمام کارمندان</a></li>
                                        <li><a href="holidays.html">تعطیلات</a></li>
                                        <li><a href="leaves.html"><span>ارسال درخواست</span> <span class="badge bg-primary pull-right">1</span></a></li>
                                        <li><a href="attendance.html">شرکت کننده</a></li>
                                        <li><a href="departments.html">بخش ها</a></li>
                                        <li><a href="designations.html">نامگذاری ها</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="clients.html">مشتریان</a>
                                </li>
                                <li>
                                    <a href="projects.html">پروژه ها</a>
                                </li>
                                <li>
                                    <a href="tasks.html">کارها</a>
                                </li>
                                <li>
                                    <a href="leads.html">رهبری</a>
                                </li>
                                <li class="submenu">
                                    <a href="#"><span> حساب ها </span> <span class="menu-arrow"></span></a>
                                    <ul class="list-unstyled" style="display: none;">
                                        <li><a href="estimates.html">برآوردها</a></li>
                                        <li><a href="invoices.html">صورتحساب ها</a></li>
                                        <li><a href="payments.html">پرداخت ها</a></li>
                                        <li><a href="expenses.html">هزینه ها</a></li>
                                        <li><a href="provident-fund.html">دارایی صندوق</a></li>
                                        <li><a href="taxes.html">مالیات</a></li>
                                    </ul>
                                </li>
                                <li class="submenu">
                                    <a href="#"><span>حقوق و دستمزد </span> <span class="menu-arrow"></span></a>
                                    <ul class="list-unstyled" style="display: none;">
                                        <li><a href="salary.html"> حقوق کارمند </a></li>
                                        <li><a href="salary-view.html"> لغزش پرداخت </a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="worksheet.html">جدول زمانبندی</a>
                                </li>
                                <li>
                                    <a href="assets.html">دارایی ها</a>
                                </li>
                                <li>
                                    <a href="activities.html">فعالیت ها</a>
                                </li>
                                <li>
                                    <a href="users.html">کاربران</a>
                                </li>
                                <li class="submenu">
                                    <a href="#"><span> گزارش ها </span> <span class="menu-arrow"></span></a>
                                    <ul class="list-unstyled" style="display: none;">
                                        <li><a href="expense-reports.html"> گزارش هزینه </a></li>
                                        <li><a href="invoice-reports.html"> گزارش صورت حساب </a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> <span>Ecommerce</span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled" style="display: none;">
                                <li><a href="products.html"> محصولات </a></li>
                                <li><a href="products-list.html"> لیست محصولات </a></li>
                                <li><a href="product-details.html"> جزئیات محصول </a></li>
                                <li><a href="add-product.html"> افزودن محصول </a></li>
                                <li><a href="edit-product.html"> ویرایش محصول </a></li>
                                <li><a href="orders.html"> سفارشات </a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);"><i class="fa fa-share-alt" aria-hidden="true"></i> <span>چند سطحی</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li class="submenu">
                                    <a href="javascript:void(0);"><span>سطح 1</span> <span class="menu-arrow"></span></a>
                                    <ul style="display: none;">
                                        <li><a href="javascript:void(0);"><span>سطح 2</span></a></li>
                                        <li class="submenu">
                                            <a href="javascript:void(0);"> <span> سطح 2</span> <span class="menu-arrow"></span></a>
                                            <ul class="list-unstyled" style="display: none;">
                                                <li><a href="javascript:void(0);">سطح 3</a></li>
                                                <li><a href="javascript:void(0);">سطح 3</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0);"><span>سطح 2</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><span>سطح 1</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="page-title">Widgets</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="dash-widget clearfix card-box">
                            <span class="dash-widget-icon"><i class="fa fa-files-o"></i></span>
                            <div class="dash-widget-info">
                                <h3>112</h3>
                                <span>پروژه ها</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="dash-widget clearfix card-box">
                            <span class="dash-widget-icon"><i class="fa fa-usd" aria-hidden="true"></i></span>
                            <div class="dash-widget-info">
                                <h3>$44</h3>
                                <span>Clients</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="dash-widget clearfix card-box">
                            <span class="dash-widget-icon"><i class="fa fa-tasks" aria-hidden="true"></i></span>
                            <div class="dash-widget-info">
                                <h3>37</h3>
                                <span>کارها</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="dash-widget clearfix card-box">
                            <span class="dash-widget-icon"><i class="fa fa-user" aria-hidden="true"></i></span>
                            <div class="dash-widget-info">
                                <h3>218</h3>
                                <span>Employees</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="dash-widget dash-widget4">
                            <span class="dash-widget-icon bg-success"><i class="fa fa-money" aria-hidden="true"></i></span>
                            <div class="dash-widget-info">
                                <h3>$998</h3>
                                <span>درآمد</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="dash-widget dash-widget4">
                            <span class="dash-widget-icon bg-info"><i class="fa fa-user-o" aria-hidden="true"></i></span>
                            <div class="dash-widget-info">
                                <h3>1072</h3>
                                <span>کاربران</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="dash-widget dash-widget4">
                            <span class="dash-widget-icon bg-warning"><i class="fa fa-files-o"></i></span>
                            <div class="dash-widget-info">
                                <h3>72</h3>
                                <span>پروژه ها</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="dash-widget dash-widget4">
                            <span class="dash-widget-icon bg-danger"><i class="fa fa-tasks" aria-hidden="true"></i></span>
                            <div class="dash-widget-info">
                                <h3>618</h3>
                                <span>کارها</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="dash-widget2">
                            <span class="dash-widget-icon bg-success"><i class="fa fa-money" aria-hidden="true"></i></span>
                            <div class="dash-widget-info">
                                <h3>$998</h3>
                                <span>درآمد</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="dash-widget2">
                            <span class="dash-widget-icon bg-info"><i class="fa fa-user-o" aria-hidden="true"></i></span>
                            <div class="dash-widget-info">
                                <h3>1072</h3>
                                <span>کاربران</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="dash-widget2">
                            <span class="dash-widget-icon bg-warning"><i class="fa fa-files-o"></i></span>
                            <div class="dash-widget-info">
                                <h3>72</h3>
                                <span>پروژه ها</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="dash-widget2">
                            <span class="dash-widget-icon bg-danger"><i class="fa fa-tasks" aria-hidden="true"></i></span>
                            <div class="dash-widget-info">
                                <h3>618</h3>
                                <span>کارها</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="dash-widget dash-widget5">
                            <span class="dash-widget-icon bg-success"><i class="fa fa-money" aria-hidden="true"></i></span>
                            <div class="dash-widget-info">
                                <h3>$998</h3>
                                <span>درآمد</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="dash-widget dash-widget5">
                            <span class="dash-widget-icon bg-info"><i class="fa fa-user-o" aria-hidden="true"></i></span>
                            <div class="dash-widget-info">
                                <h3>1072</h3>
                                <span>کاربران</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="dash-widget dash-widget5">
                            <span class="dash-widget-icon bg-warning"><i class="fa fa-files-o"></i></span>
                            <div class="dash-widget-info">
                                <h3>72</h3>
                                <span>پروژه ها</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="dash-widget dash-widget5">
                            <span class="dash-widget-icon bg-danger"><i class="fa fa-tasks" aria-hidden="true"></i></span>
                            <div class="dash-widget-info">
                                <h3>618</h3>
                                <span>کارها</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-4">
                        <div class="profile-widget">
                            <div class="profile-img">
                                <a href="#." class="avatar">G</a>
                            </div>
                            <div class="dropdown profile-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="#."><i class="fa fa-pencil m-l-5"></i> ویرایش</a></li>
                                    <li><a href="#."><i class="fa fa-trash-o m-l-5"></i> حذف</a></li>
                                </ul>
                            </div>
                            <h4 class="user-name m-t-10 m-b-0 text-ellipsis"><a href="client-profile.html">Delta Infotech</a></h4>
                            <h5 class="user-name m-t-10 m-b-0 text-ellipsis"><a href="client-profile.html">Tressa Wexler</a></h5>
                            <div class="small text-muted">Manager</div>
                            <a href="#." class="btn btn-default btn-sm m-t-10">Message</a>
                            <a href="#." class="btn btn-default btn-sm m-t-10">View Profile</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-4">
                        <div class="profile-widget">
                            <div class="profile-img">
                                <a href="#." class="avatar"><img class="img-circle" src="assets/img/user.jpg" width="80" alt=""></a>
                            </div>
                            <h4 class="user-name m-t-10 m-b-0 text-ellipsis"><a href="client-profile.html">Wellware Company</a></h4>
                            <h5 class="user-name m-t-10 m-b-0 text-ellipsis"><a href="client-profile.html">Misty Tison</a></h5>
                            <div class="small text-muted">calling ...</div>
                            <a href="#." class="btn btn-danger btn-sm m-t-10">Decline</a>
                            <a href="#." class="btn btn-success btn-sm m-t-10">Accept</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-4">
                        <div class="card profile-widget profile-widget2 p-0">
                            <div class="profile-bg blur">
                            </div>
                            <div class="profile-avatar">
                                <img alt="" src="assets/img/user-02.jpg">
                            </div>
                            <div class="user-info">
                                <h4 class="user-name m-t-5 m-b-0 text-ellipsis"><a href="client-profile.html">Ruby Bartlett</a></h4>
                                <div class="small text-muted">CEO</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-4">
                        <div class="profile-widget profile-widget3">
                            <div class="profile-bg blur"></div>
                            <div>
                                <a href="#" class="avatar-link">
                                    <img alt="" src="assets/img/user-02.jpg">
                                </a>
                                <div class="user-info">
                                    <div class="username">
                                        <a href="">John Doe</a>
                                    </div>
                                    <span>
											<a href="">@<span>johndoe</span></a>
                                    </span>
                                </div>
                                <div class="user-analytics">
                                    <div class="row">
                                        <div class="col-xs-4 border-right">
                                            <div class="analytics-desc">
                                                <h5 class="analytics-count">1,702</h5>
                                                <span class="analytics-title">SALES</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 border-right">
                                            <div class="analytics-desc">
                                                <h5 class="analytics-count">10,010</h5>
                                                <span class="analytics-title">FOLLOWERS</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="analytics-desc">
                                                <h5 class="analytics-count">665</h5>
                                                <span class="analytics-title">PRODUCTS</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-4">
                        <div class="profile-widget3">
                            <div class="profile-bg"></div>
                            <div>
                                <a href="#" class="avatar-link">
                                    <img alt="" src="assets/img/user-02.jpg">
                                </a>
                                <div class="user-info">
                                    <div class="username">
                                        <a href="">John Doe</a>
                                    </div>
                                    <span>
											<a href="">@<span>johndoe</span></a>
                                    </span>
                                </div>
                                <div class="user-analytics">
                                    <div class="row">
                                        <div class="col-xs-4 border-right">
                                            <div class="analytics-desc">
                                                <h5 class="analytics-count">1,702</h5>
                                                <span class="analytics-title">SALES</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 border-right">
                                            <div class="analytics-desc">
                                                <h5 class="analytics-count">10,010</h5>
                                                <span class="analytics-title">FOLLOWERS</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="analytics-desc">
                                                <h5 class="analytics-count">665</h5>
                                                <span class="analytics-title">PRODUCTS</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-4">
                        <div class="profile-widget profile-widget4">
                            <div class="profile-bg">
                                <h3 class="user-name m-t-0 m-b-0 text-ellipsis"><a href="client-profile.html">Ruby Bartlett</a></h3>
                                <h5 class="text-muted">CEO</h5>
                            </div>
                            <div class="profile-avatar">
                                <img alt="" src="assets/img/user-02.jpg">
                            </div>
                            <div class="user-analytics">
                                <div class="row">
                                    <div class="col-xs-4 border-right">
                                        <div class="analytics-desc">
                                            <h5 class="analytics-count">3,200</h5>
                                            <span class="analytics-title">SALES</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 border-right">
                                        <div class="analytics-desc">
                                            <h5 class="analytics-count">13,000</h5>
                                            <span class="analytics-title">FOLLOWERS</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="analytics-desc">
                                            <h5 class="analytics-count">35</h5>
                                            <span class="analytics-title">PRODUCTS</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-4">
                        <div class="card-box">
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object" src="assets/img/user.jpg" width="80" alt="">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Tressa Wexler</h4>
                                    <div class="small text-muted m-b-10">CEO</div>
                                    <p>
                                        <a href="#" class="btn btn-xs btn-default"><i class="fa fa-comments" aria-hidden="true"></i> Chat</a>
                                        <a href="#" class="btn btn-xs btn-default"><i class="fa fa-phone" aria-hidden="true"></i> Call</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-4">
                        <div class="card-box">
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object img-circle" src="assets/img/user.jpg" width="80" alt="">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Tressa Wexler</h4>
                                    <div class="small text-muted m-b-10">CEO</div>
                                    <p>
                                        <a href="#" class="btn btn-xs btn-default"><i class="fa fa-comments" aria-hidden="true"></i> Chat</a>
                                        <a href="#" class="btn btn-xs btn-default"><i class="fa fa-phone" aria-hidden="true"></i> Call</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="notification-box">
                <div class="msg-sidebar notifications msg-noti">
                    <div class="topnav-dropdown-header">
                        <span>پیام ها</span>
                    </div>
                    <div class="drop-scroll msg-list-scroll">
                        <ul class="list-box">
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">R</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">امین صفرپور</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">ملت وب ایپسوم متن ساختگی با تولید سادگی ملت وب از صنعت چاپ </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item new-message">
                                        <div class="list-left">
                                            <span class="avatar">J</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">امین صفرپور</span>
                                            <span class="message-time">1 Aug</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">ملت وب ایپسوم متن ساختگی با تولید سادگی ملت وب از صنعت چاپ </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">T</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">امین صفرپور</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">ملت وب ایپسوم متن ساختگی با تولید سادگی ملت وب از صنعت چاپ </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">M</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">امین صفرپور</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">ملت وب ایپسوم متن ساختگی با تولید سادگی ملت وب از صنعت چاپ </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">C</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">امین صفرپور</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">ملت وب ایپسوم متن ساختگی با تولید سادگی ملت وب از صنعت چاپ </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">D</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">امین صفرپور</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">ملت وب ایپسوم متن ساختگی با تولید سادگی ملت وب از صنعت چاپ </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">B</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">امین صفرپور</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">ملت وب ایپسوم متن ساختگی با تولید سادگی ملت وب از صنعت چاپ </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">R</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">امین صفرپور</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">ملت وب ایپسوم متن ساختگی با تولید سادگی ملت وب از صنعت چاپ </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">C</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">امین صفرپور</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">ملت وب ایپسوم متن ساختگی با تولید سادگی ملت وب از صنعت چاپ </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">M</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">امین صفرپور</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">ملت وب ایپسوم متن ساختگی با تولید سادگی ملت وب از صنعت چاپ </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">J</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">امین صفرپور</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">ملت وب ایپسوم متن ساختگی با تولید سادگی ملت وب از صنعت چاپ </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">L</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">امین صفرپور</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">ملت وب ایپسوم متن ساختگی با تولید سادگی ملت وب از صنعت چاپ </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">T</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">امین صفرپور</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">ملت وب ایپسوم متن ساختگی با تولید سادگی ملت وب از صنعت چاپ </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="topnav-dropdown-footer">
                        <a href="chat.html">مشاهده همه پیام ها</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script type="text/javascript" src="assets/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.slimscroll.js"></script>
    <script type="text/javascript" src="assets/js/app.js"></script>
</body>

</html>